* {
  padding: 0;
  margin: 0;
}
.wrapper {
  background: url(database.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar {
  height: 80px;
  width: 100%;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.navbar ul li {
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a {
  text-decoration: none;

  font-size: 20px;
  padding: 6px 13px;
  font-family: sans-serif;
}
.navbar ul li a.active,
.navbar ul li a:hover {
  border-radius: 2px;
}
